<h1> Hello from Rails!! </h1>
<p>
	The time now is <%= @time %>
</p>
<p>
	Time to say
	<%= link_to "Goodbye!", say_goodbye_path %>
</p>

<p>
<%= 1 + 2 %>
</p>

<p>
	<%= "Cow" + "boy" %>
</p>

<p>
	<%= 1.hour.from_now %>
</p>